# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
.venvamz/

# Environment
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Terraform
terraform/
